<div>
	<h2>Your Purchases<h2>
		<% @user_purchases.each do |purchase| %>
	    <div>
	      <h4 style="color: #347AC9">
	      	<%= purchase.merchant_name%> 
	      </h4> 
	      <p>
	        <%= purchase.city %> | 
	        $<%= purchase.amount %> | 
	        <%= purchase.category %>
	      </p>
   		</div>
   	<% end %>
	<hr>


	<h2>Other's Purchases<h2>		
		<% @purchases.each do |purchase| %>
	    <div>
	      <h4 style="color: #347AC9">
	      	<%= purchase.merchant_name%> 
	      </h4> 
	      <p>
	        <%= purchase.city %> | 
	        $<%= purchase.amount %> | 
	        <%= purchase.category %>
	      </p>
   		</div>
   	<% end %>
</div>